/* Generic color rules */

/* Set color variables depending on theme */
:root {
  --bg-rainbow: var(--l-bg-rainbow);
  --bg-mono: var(--l-bg-mono);
  --bg-mono-strong: var(--l-bg-mono-strong);
  --bg-rainbow-light: var(--l-bg-rainbow-light);
  --fg-rainbow: var(--l-fg-rainbow);
  --fg-rainbow-dark: var(--l-fg-rainbow-dark);
  --fg-rainbow-reverse: var(--l-fg-rainbow-reverse);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-rainbow: var(--d-bg-rainbow);
    --bg-mono: var(--d-bg-mono);
    --bg-mono-strong: var(--d-bg-mono-strong);
    --bg-rainbow-light: var(--d-bg-rainbow-light);
    --fg-rainbow: var(--d-fg-rainbow);
    --fg-rainbow-dark: var(--d-fg-rainbow-dark);
    --fg-rainbow-reverse: var(--d-fg-rainbow-reverse);
  }
}

html,
body,
header {
  background-color: var(--bg-rainbow);
}

h1,
h2,
h3,
h4,
img,
span,
p,
a,
div {
  color: var(--fg-rainbow);
}

path {
  stroke: var(--fg-rainbow);
}

p > code,
table td:first-of-type {
  background-color: var(--bg-rainbow-light);
}

hr {
  background-color: var(--fg-rainbow);
  opacity: 0.3;
}

a:not(.active) {
  &:hover,
  &:active {
    color: var(--fg-rainbow-reverse);

    & h4 {
      color: var(--fg-rainbow-reverse);
    }
    & path {
      stroke: var(--fg-rainbow-reverse);
    }
  }
}

blockquote {
  border-color: var(--fg-rainbow);
  opacity: 0.65;
}

a#creativecommons > img {
  background-color: initial;
}

@media (min-width: 960px) {
  table td:first-of-type {
    background-color: initial;
  }

  .preview {
    background-color: var(--bg-rainbow-light);
  }
}
