/* Generic color rules */
html {
  background-color: var(--bg-rainbow);
}

body * {
  color: var(--fg-rainbow);
}

code {
  background-color: var(--bg-rainbow-light);
}

hr {
  background-color: var(--fg-rainbow);
  opacity: 0.3;
}

/* Overrides for wide screen only */
@media (min-width: 720px) {
  html {
    background-color: var(--bg-rainbow-light);
  }
  body {
    background-color: var(--bg-rainbow);
  }
}
