/* Generic layout rules */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem;
}

img {
  width: 100vw;
  max-height: 35vh;
  object-fit: cover;

  &::before {
    padding: 1rem;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 1rem;
}
p {
  margin-top: 0;
}

#main-title {
  padding-left: 0.5rem;
  margin-left: 3rem;
}

code {
  padding: 0 0.4rem;
  border-radius: 0.2rem;
}

section#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;

  &:has(#post) {
    max-width: 52rem;
    margin: 0 auto;
  }
}

#random-showcase {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 40rem;
  & > img {
    min-height: 20vh;
  }
  & > a {
    margin: 0 1rem;
  }
}

#post {
  display: flex;
  flex-direction: column;
}

ul.wrapping-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  gap: 2rem;

  & li {
    list-style: none;
  }
}

li#preview {
  cursor: pointer;
  padding-bottom: 0.75rem;

  @media (min-width: 1072px) {
    max-width: 30rem;
    & > img,
    & > picture {
      height: 14rem;
    }
  }

  & > :first-child {
    margin-bottom: 0.5rem;
  }

  & h4,
  span {
    display: block;
    margin: 0;
    padding: 0 0.75rem;
  }
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
hr {
  width: 70%;
  margin: 2rem auto;
}

/* Overrides for wide screen only */

@media (min-width: 720px) {
  body {
    padding: 1.5rem 0;
  }

  section#content {
    padding: 2.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  #random-showcase > a {
    margin-left: 0;
    margin-right: 0;
  }

  p:has(> img) {
    margin: 4rem 0;

    &:first-child {
      margin-top: 0;
    }
  }

  img {
    border-radius: 0.5rem;
    max-height: 60vh;
  }

  li#preview {
    border-radius: 0.5rem;
  }

  #main-title {
    padding-left: 0.5rem;
    margin-left: 4rem;
  }
}

/* Overrides for narrow screen only */

@media (max-width: 720px) {
  p:has(> img) {
    margin: 2rem 0;

    &:first-child {
      margin-top: 0;
    }

    span {
      margin-left: 0.75rem;
    }
  }
}
