{% extends "main.html" %} {% block content %} {{ nav }}

<title>Posts</title>

<div class="categorized-list-wrapper">
  <h2>Digital Fabrication</h2>
  <ul class="wrapping-list">
    {% for post in df_posts %}
    <li>
      <a  
        class="preview"
        hx-get="{{ post.endpoint }}"
        hx-trigger="click"
        hx-target="#content"
        hx-push-url="true"
        hx-swap="innerHTML"
        hx-boost
      >
        {{ post.preview }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<ul class="wrapping-list">
  {% for post in posts %}
    <li>
      <a
        class="preview"
        hx-get="{{ post.endpoint }}"
        hx-trigger="click"
        hx-target="#content"
        hx-push-url="true"
        hx-swap="innerHTML"
        hx-boost
      >
        {{ post.preview }}
      </a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
