{% extends "main.html" %} {% block content %} {{ nav }}

<title>Posts</title>

<div class="categorized-list-wrapper">
  <h2>Digital Fabrication</h2>
  <ul class="wrapping-list">
    {% for post in df_posts %}
    <li
      id="preview"
      hx-get="{{ post.endpoint }}"
      hx-trigger="click"
      hx-target="#content"
      hx-push-url="true"
      hx-swap="innerHTML"
    >
      {{ post.preview }}
    </li>
    {% endfor %}
  </ul>
</div>
<ul class="wrapping-list">
  {% for post in posts %}
  <li
    id="preview"
    hx-get="{{ post.endpoint }}"
    hx-trigger="click"
    hx-target="#content"
    hx-push-url="true"
    hx-swap="innerHTML"
  >
    {{ post.preview }}
  </li>
  {% endfor %}
</ul>

{% endblock %}
